@model IEnumerable<ProyectoWeb.Models.tb_peliculas>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h3>Bienvenidos a Yo Te Veo</h3>
    <h3>Cartelera</h3>
  <!--  <div>
        <div class="form-group">
            <h3>Buscar por Pelicula</h3>
            <div class="col-sm-6 col-md-4">
                <select id="peliculas" class="form-control">
                    <option>Rapidos y Furiosos 7</option>
                    <option>Los Vengadores 2</option>
                    <option>Asumare 2</option>
                    <option>Naruto The Last</option>
                </select>
            </div>
        </div>
    </div>-->
</div>
<div>
    @Html.Partial("_LayoutIndex")
</div>