<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img style="width:auto;height:auto" class="first-slide img-responsive" src="~/images/carrusel/vengadores.jpg" alt="First slide" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Avengers Era de Ultron</h1>
                    <p>@Html.ActionLink("Ver Detalle", "VerPelicula", "Home", new { id = "PE000003" }, new { @class = "btn btn-lg btn-primary", @role = "button" })</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img style="width:auto;height:auto" class="second-slide img-responsive" src="~/images/carrusel/asumare2.jpg" alt="Second slide" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Asu mare 2</h1>
                    <p>@Html.ActionLink("Ver Detalle", "VerPelicula", "Home", new { id = "PE000001" }, new { @class = "btn btn-lg btn-primary", @role = "button" })</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img style="width:auto;height:auto" class="third-slide img-responsive" src="~/images/carrusel/rapidosfuriosos.jpg" alt="Third slide" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Rapidos y Furiosos 7</h1>
                    <p>@Html.ActionLink("Ver Detalle", "VerPelicula", "Home", new { id = "PE000002" }, new { @class = "btn btn-lg btn-primary", @role = "button" })</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img style="width:auto;height:auto" class="fourth-slide img-responsive" src="~/images/carrusel/naruto.jpg" alt="Fourth slide" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Naruto: La película</h1>
                    <p>@Html.ActionLink("Ver Detalle", "VerPelicula", "Home", new { id = "PE000004" }, new { @class = "btn btn-lg btn-primary", @role = "button" })</p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

