<footer class="footer" id="footer-black" role="contentinfo">
    <div class="container">
        <div class="footer">
            <div class="row">
                <div class="col-lg-pull-12">
                    <h3>Siguenos en Nuestras Redes Sociales</h3>
                    <div class="col-md-4">
                        <a class="h4" target="_blank" href="">
                            <span class="">
                                <i class=""></i>
                                <img src="../../images/iconos/facebook-icon.png" />
                                Siguenos en Facebook
                            </span>
                        </a>
                    </div><p></p>
                    <div class="col-md-4">
                        <a class="h4" target="_blank" href="">
                            <span class="">
                                <i class=""></i>
                                <img src="../../images/iconos/twitter-icon.png" />
                                Siguenos en Twitter
                            </span>
                        </a>
                    </div><p></p>
                    <div class="col-md-4">
                        <a class="h4" target="_blank" href="">
                            <span class="">
                                <i class=""></i>
                                <img src="../../images/iconos/youtube-icon.png" />
                                Siguenos en Youtube
                            </span>
                        </a>
                    </div><p></p>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-links">
                        <a href="/nosotros" target="_blank">Nosotros</a>
                        <a href="/pe/preguntas-frecuentes">FAQ</a>
                        <a href="/pe/como-comprar">Cómo comprar</a>
                        <a href="/pe/moviles">Móviles</a>
                        <a href="/pe/archivo">Archivo de películas</a>
                        <a href="/pe/condiciones-de-uso">Condiciones de uso</a>
                        <a href="/pe/politica-de-privacidad">Política de privacidad</a>
                        <a href="/pe/contactanos">Contáctanos</a>
                        <a href="/pe/recomendar-a-un-amigo">Recomendar a un amigo</a>
                        <a href="http://librodereclamacionesperu.com/1434104.html" target="_blank" rel="nofollow">Libro de reclamaciones</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-links-corp" style="font-size:12px;">
                        <h4 style="color:#e98d05;">Tienes alguna consulta?</h4>
                        <p>Por favor comunícate con nuestra área de Atención al Cliente:</p>
                        <ul>
                            <li>0800-8-800 (llamada gratuita)</li>
                            <li>800-8000</li>
                            <li>Puedes escribirnos también a: support@yoteveo.com</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-links-corp">
                        <h4 style="margin-top:0px;">Corporativo</h4>
                        <a href="/cines" target="_blank" >Cines</a>
                        <a href="/anunciantes" target="_blank" >Anunciantes</a>
                        <a href="/distribuidores" target="_blank" >Distribuidores</a>
                        <a href="/trabaja-con-nosotros" target="_blank" >Trabaja con nosotros</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-copyright">
                        YO TE VEO &copy; 2015
                    </div>
                </div>

            </div>


        </div>
        <div align="center">
            <span class="negro_13">YOTEVEO.COM © COPYRIGHT 2015. TODOS LOS DERECHOS RESERVADOS</span> <br><br>
        </div>
    </div>
</footer>
