<div class="container">
    <!-- Example row of columns -->
    <div class="col-lg-12">
        <div class="row">

            @foreach (var reg in Model)
            {
            <div class="col-md-3">
                <h4><p class="">@reg.nombre_peli</p></h4>
                <img style="width:220px;height:300px;" src="~/images/peliculas/@(@reg.imagePath)" />
                <hr />
                   @Html.ActionLink("Comprar", "DetalleCartelera", new { idpelicula = reg.cod_peli }, new { @role = "button", @class = "btn btn-default" })
            </div>
            }
        </div>
    </div>
</div>
<br />
