@{
    ViewBag.Title = "Index";
}
    <h2>Index</h2>

    <h1>Administacion YO TE VEO</h1>
    <h1>Matenimientos</h1>
    <div class="col-md-2">
        <h3>@Html.ActionLink("Peliculas ", "Index", "Pelicula")</h3>
        <span><img class="img-thumbnail" alt="naruto" src="../images/iconos/cines.jpg" /></span>
    </div>
    <div class="col-md-2">
        <h3>@Html.ActionLink("Cartelera ", "Index", "Cartelera")</h3>
        <span><img class="img-thumbnail" alt="naruto" src="../images/iconos/cartelera.jpg" /></span>
    </div>
    <div class="col-md-2">
        <h3>@Html.ActionLink("Salas ", "Index", "Salas")</h3>
        <span><img class="img-thumbnail" alt="naruto" src="../images/iconos/salas.jpg" /></span>
    </div>
    <div class="col-md-2">
        <h3>@Html.ActionLink("Locales ", "Index", "Locales")</h3>
        <span><img class="img-thumbnail" alt="naruto" src="../images/iconos/locales.jpg" /></span>
    </div>